# http://www.gnu.org/software/automake 
https://m.youtube.com/watch?v=g-nylR1Xqd8
Makefile.in 
http://www.alqatrah.net/
# http://www.gnu.org/software/autoconf 
https://m.youtube.com/watch?v=g-nylR1Xqd8http://www.alqatrah.net/

/autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.h.in
/configurehttp://www.alqatrah.net/
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1
